.App{
  height: 100vh;
  width: 100vw;
  min-width: 2000px;
  min-height: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin:0;
}

.container{
  padding: 48px;
  display: flex;
  width: 50%;
  box-sizing: border-box;
}

#main{
  background-color: #f3f3f3;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
}

h1, h3{
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
}

.light-title{
  font-size: 10em;
  font-weight: 200;
  text-align: center;
  margin-bottom: -25px !important;
  margin-top: auto !important;
}

.bold-title{
  font-size: 10em;
  font-weight: 500;
  text-align: end;
  margin-top: -25px !important;
}

.slogan{
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  text-align: end;
}

.input-container{
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin: auto 0 50px 0;
}

.input{
  width: 50%;
  height: 60px;
  border-radius: 17px;
  border: none;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

.button{
  background-color: #FF666D;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-radius: 17px;
  border: none;
  color: white;
  width: 150px;
  margin-left: 40px;
}

#second{
  background-image: -webkit-linear-gradient(-15deg, #f3f3f3 25%, #FF666D 0%);
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
}

.feature-container{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 9vw;
  min-height: 170px;
}

.feature-subcontainer{
  transform: skewX(-15deg);
  background-image: -webkit-linear-gradient(-90deg, #434343 3.2em, #FF666D 0%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  z-index: 1;
  margin-right: 5.5vw;
}

#o{
  width: 65%;
}
#s{
  width: 72%
}
#t{
  width: 79%
}
#f{
  width: 86%
}

.feature-title{
  transform: skewX(15deg);
  align-self: stretch;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.2em;
  margin: 0 !important;
  text-align: center;
  padding: 5px 4vw 5px 0;
}

.feature-description{
  transform: skewX(15deg);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 1.7em;
  padding: 12px 150px 0 50px;
  text-align: center;
}

.circle{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9vw;
  height: 9vw;
  min-width: 170px;
  min-height: 170px;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}
.circle-image{
  width: 7vw;
  height: 7vw;
  min-width: 130px;
  min-height: 130px;
}

#warning{
  width: 9vw;
  height: 9vw;
  min-width: 170px;
  min-height: 170px;
}